/* 별 커스텀 */
.star-1 {
  top:0.4%;
  left:30%;
  opacity: 70%;
}

.star-2 {
  top:4%;
  left:10%;
  opacity: 70%;
}

.star-3 {
  top:5.8%;
  left:48.5%;
  opacity: 70%;
}

.star-4 {
  top:8.5%;
  left:43%;
  opacity: 70%;
}

.star-5 {
  top:11%;
  left:78%;
  opacity: 70%;
}

.star-6 {
  top:13.3%;
  left:11%;
  opacity: 85%;
}

.star-7 {
  top:58.5%;
  left:15%;
  opacity: 80%;
}

.star-8 {
  top:67%;
  left:25%;
  opacity: 60%;
}

.star-9 {
  top:69.3%;
  left:82%;
  opacity: 70%;
}

.star-10 {
  top:73%;
  left:14%;
  opacity:60%;
}

.star-11 {
  top:85.7%;
  left:20%;
  opacity: 70%;
}

.star-12 {
  top:87%;
  left:13%;
  opacity: 80%;
}

.star-13 {
  top:87.4%;
  left:28.9%;
  opacity: 90%;
}

.star-14 {
  top:94.2%;
  left:18%;
  opacity: 70%;
}

.star-15 {
  top:98.1%;
  left:8%;
  opacity: 70%;
}

.star-16 {
  top:97.8%;
  left:35%;
  opacity: 70%;
}

/* 별사이즈 조정 */
.star.lg > img {
  width:55%;
}

.star.md > img {
  width:45%;
}

.star.sm > img {
  width:38%;
}

/* 스크롤 조절용 별 */
.D-h1 {
  top:27%;
}

.D-h2 {
  top:60.5%;
}

.D-h3 {
  top:74.5%;
}

.D-h4 {
  top:83.5%;
}

.D-h5 {
  top:45.7%;
}

.D-h6 {
  top:53.5%;
}

.D-h7 {
  top:90%;
}

.D-h {
  opacity: 0;
}

/* 와이어프레임 위치 */
.wf-img_1 {
  top:31%;
  left:5%;
}

.wf-img_2 {
  top:36%;
  left:5%;
}

.wf-img_3 {
  top:41%;
  left:5%;
}

.wf > img {
  width:95%;
}

/* 비디오 커스텀 */
.D-phone {
  top:47.3%;
  left:65%;
  z-index: 1;
}

.D-phone > img {
  width:77%;
}

.video-wrap {
  width:17.3%;
}

.video-intro {
  top:47.4%;
  left:66.2%;
}


/* 부가적이미지 */
.D-main_intro {
  top:0.7%;
  left:-7.5%;
  display:none;
}

.D-main_intro > img {
  width:89%;
}

.D-main_introwrite {
  top:3.4%;
  left:51%;
  display:none;
}

.D-main_introwrite > img, .D-explain > img {
  width:80%;
}

.D-story {
  top:15%;
  left:0;
}

.D-story-1 {
  top:19%;
  left:0;
}

.D-alarm {
  top:52.4%;
  left:23%;
}

.D-alarm > img {
  width:63%;
}

.D-simple {
  top:58.1%;
  left:25.5%;
}

.D-diary {
  top:62.4%;
  left:36.5%;
  z-index: 1;
}

.D-diary > img, .D-simple > img {
  width:77%;
}

.D-diary-2 > img {
  width:68%;
  opacity: 75%;
}

.D-diary-2 {
  top:63%;
  left:56.6%;
}

.D-main {
  top:77.7%;
  left:39.4%;
  z-index: 1;
}

.D-main > img, .D-main-2 > img {
  width:80%;
}

.D-main-2 {
  top:78.5%;
  left:15.5%;
}

.D-sharingmain {
  top:85.4%;
  left:45%;
  z-index: 2;
}

.D-explain {
  top:70.5%;
  left:24%;
}

.D-sharingmain > img, .D-sharing > img, .D-sharingmain-1 > img, .D-sharingmain-2 > img {
  width:77%;
}

.D-sharing {
  top:86.2%;
  left:36.7%;
}

.D-sharingmain-1 {
  top:86.2%;
  left:63%;
}

.D-sharingmain-2 {
  top:86.2%;
  left:79.6%;
}

.D-footwrite {
  top:93.8%;
  left:8%;
}

.D-footwrite > img {
  width:84%;
}