/* 별 커스텀 */
.star-1 {
  top: 0.3%;
  left:30%;
  opacity: 70%;
}

.star-2 {
  top:4%;
  left:10%;
  opacity: 70%;
}

.star-3 {
  top:5.8%;
  left:48.5%;
  opacity: 70%;
}

.star-4 {
  top:8.5%;
  left:43%;
  opacity: 70%;
}

.star-5 {
  top:11%;
  left:78%;
  opacity: 70%;
}

.star-6 {
  top:13.3%;
  left:11%;
  opacity: 85%;
}

.star-17 {
  top:23.4%;
  left:72%;
  opacity: 60%;
}

.star-18 {
  top:25%;
  left:82%;
  opacity: 85%;
}

.star-7 {
  top:58.5%;
  left:15%;
  opacity: 80%;
}

.star-8 {
  top:68%;
  left:25%;
  opacity: 60%;
}

.star-9 {
  top:69.3%;
  left:82%;
  opacity: 70%;
}

.star-10 {
  top:73%;
  left:14%;
  opacity:60%;
}

.star-11 {
  top:85.8%;
  left:20%;
  opacity: 70%;
}

.star-12 {
  top:87%;
  left:12%;
  opacity: 80%;
}

.star-13 {
  top:87.4%;
  left:29%;
  opacity: 90%;
}

.star-14 {
  top:94.2%;
  left:18%;
  opacity: 70%;
}

.star-15 {
  top:98.1%;
  left:8%;
  opacity: 70%;
}

.star-16 {
  top:97.8%;
  left:35%;
  opacity: 70%;
}

/* 별사이즈 조정 */
.star.lg > img {
  width:55%;
}

.star.md > img {
  width:45%;
}

.star.sm > img {
  width:38%;
}

/* 스크롤 조절용 별 */
.D-h1 {
  top:27%;
}

.D-h2 {
  top:60.5%;
}

.D-h3 {
  top:74.5%;
}

.D-h4 {
  top:83.5%;
}

.D-h5 {
  top:45.7%;
}

.D-h6 {
  top:53.5%;
}

.D-h7 {
  top:90%;
}

.D-h {
  opacity: 0;
}

/* 와이어프레임 위치 */
.wf-img_1 {
  top:31%;
  left:0;
}

.wf-img_2 {
  top:36%;
  left:0;
}

.wf-img_3 {
  top:41%;
  left:0;
}


/* 비디오 커스텀 */
.D-phone {
  top:47.3%;
  left:65%;
  z-index: 1;
  width:20%;
}

.video-wrap {
  width:17.5%;
}

.video-intro {
  top:47.4%;
  left:66.2%;
}


/* 부가적이미지 */

.D-main_introwrite {
  top:1.1%;
  width:80%;
}

.D-main_introwrite > img {
  display: none;
}

.D-story {
  top:15%;
  left:0;
}

.D-story-1 {
  top:19%;
  left:0;
}

.D-alarm {
  top:52.4%;
  left:25.5%;
  width:25%;
}

.D-simple {
  top:58.1%;
  left:25.5%;
  width:13%;
}

.D-diary {
  top:62.4%;
  left:36.5%;
  z-index: 1;
  width:24%;
}

.D-diary-2 {
  top:63%;
  left:56.6%;
  width:17%;
}

.D-diary-2 > img {
  opacity: 80%;
}

.D-diary-pallet {
  top:65.5%;
  left:78%;
  width:10%;
}

.D-diary-pallet > img {
  opacity: 90%;
}

.D-choose {
  top:71%;
  left:28%;
  width:15%;
}

.D-main-2 {
  top:78%;
  left:15%;
  width:19%;
}

.D-main_notice {
  top:78.75%;
  left:75%;
  width:15%;
}

.D-main_schedule {
  top:81.3%;
  left:75.5%;
  width:15%;
}

.D-sharingmain {
  top:85.4%;
  left:45%;
  z-index: 2;
  width:25%;
}

.D-sharing {
  top:86.25%;
  left:36.7%;
  width:17%;
}

.D-sharingmain-1 {
  top:86.2%;
  left:63%;
  width:16.3%;
}

.D-sharingmain-2 {
  top:86.2%;
  left:79.3%;
  width:11.38%;
}

.D-footwrite {
  top:93.8%;
  left:8%;
  width:38%;
}